*{
    margin:0;
    padding:0;
}
body{
    width: 100wh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #0f2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c5364cc, #203a4394, #0f202759),url("img/fondo.jpg");  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c5364d8, #203a439a, #0f202762),url("img/fondo.jpg"); 
    background-size:cover;
    font-family: 'Kaushan Script', cursive;
   
}
h2{
    font-size:80px;
    color:white;
}

canvas{
    position:absolute;
}

.container{
    display:flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 300px;
    margin:10px;
    position:absolute;

}