*{
    margin:0;
    padding:0;
}
.botones{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
body{
    background: #0f2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c5364cc, #203a4394, #0f202759),url("img/mesa.jpg");  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c5364d8, #203a439a, #0f202762),url("img/mesa.jpg"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
}
.botones .boton{
    margin: 15px;
}

.boton{
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-family: 'Kaushan Script', cursive;
    font-size:40px;
    outline: none;
    transition:all .5s ease;
    padding: 12px;
    border: none;
}
.boton:hover{
    background-color: rgba(143, 137, 137, 0.226);
    border-radius: 20px;
}
.principal{
    display:grid;
    grid-template-columns: repeat(3,1fr);
}
img{
    color:white;
}
.texto{
    background-color: white;
    display: flex;
    width:650px;
    height: 90vh;
    border-radius:20px;
    overflow: hidden;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top:30px;
    
}
textarea{
    width:650px;
    height: 90vh;
    position:absolute;
    border-radius:20px;
    background-color:rgba(0, 0, 0, 0);
    font-size:38px;
    padding:44px 60px 0 70px ;
    line-height: 1.02em; 
    color:black;
    font-family: 'Sacramento', cursive;
    border:none;
}

.Super1{
    height: 100vh;
    width: 200vh;
    display: flex;
    justify-content: center;
    top: 0%;
    position: absolute;
    align-items: center;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.767);
    margin: 0%;
}

.notaGuardada{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(99, 93, 25, 1);
    border-radius: 10px;
    width: 350px;
    padding: 10px;
    font-family: 'Sacramento', cursive;
    font-size:25px;
    line-height: .85em; 
    
}

.notaGuardada p{
    margin: 5px;
}
#notaGuardada:target{
    visibility: visible;
}
input{
    font-size: large;
    padding: 10px;
    margin-bottom: 12px;
    border: none;
    background: none;
    outline: 0px;
    width: 80%;
    font-size:30px;
    font-family: 'Kaushan Script', cursive;
    border-bottom: 1px solid  rgba(73, 73, 70, 0.541); 
     
}

.XContainer{
    text-align: right;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: right;
    justify-content: right;
}
.X{
    height: 20px;
    color: black;
}